body {
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}


.container {
  margin-left: 20px;
  width: 100%
}  

#main-content {
  margin-left: auto;
}

h1 {
  font-size: relative;
  text-align: center;
  margin-bottom: 30px;

}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;  
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}


#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}



.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -50px;
  margin-right: 30px;
}

#collapsable-nav li{
  border: 1px solid #61122f;
}
/* END HEADER */

/* HOME PAGE */
.container .jumbotron {
  box-shadow: 0 0 50px #3F0C1F;
  border: 2px solid #3F0C1F;
  padding: 0px;

}
.jumbotron h1{
  text-align: center;
  font-size: 25px;
  color: #000000;
  font-weight: bold;
}

.jumbotron p{
  font-size: 20px;
  color: #000000;
  padding: 10px;
}


/* END HOME PAGE */

/********** Medium devices only **********/
@media (min-width: 992px) {
  /* Header */
  #logo-img {
    background: #0af017;
    width: 100px;
    height: 120px;
    margin: 5px 5px 5px 0;
  }
    .navbar-brand {
    padding-top: 10px;
    height: 75px;
  }
  /* End Header */

  /* Home Page */
  .container .jumbotron {
    background: #0af017;
    height: 1000px;

  }

    .navbar-brand h1 { /* Restaurant name */
    padding-top: 15px;
    font-size: 35px; /* 1vw = 1% of viewport width */
  }
  /* End Home Page */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  /* Home Page */
  .container .jumbotron {
    background: #0af017;
    height: 1000px;

  }

      .navbar-brand {
    padding-top: 10px;
    height: 75px;
  }
      .navbar-brand h1 { /* Restaurant name */
    padding-top: 15px;
    font-size: 35px; /* 1vw = 1% of viewport width */
  }
  /* End Home Page */

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
 /* #header-nav {
    height: 60px;
  }*/
  .navbar-brand {
    padding-top: 10px;
    height: 60px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  .navbar-brand p { /* Kosher cert */
    font-size: .6em;
    margin-top: 12px;
  }
  .navbar-brand p img { /* Star-K */
    height: 20px;
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }

    .container .jumbotron {
    background: #0af017;
    height: 1000px;
    width: 80%;
    margin-left:50px;


  }

